ul#categorie_menu,ul#categorie_menu ul{
	margin:0;list-style:none;padding:0;background-color:none;border-width:0;border-style:solid;border-color:#97CD7F;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
ul#categorie_menu ul{
	visibility:hidden;position:absolute;left:0;top:100%;opacity:0;-moz-transition:all 0.5s;-webkit-transition:opacity 0.5s;-o-transition:opacity 0.5s,visibility 0.5s;transition:opacity 0.5s;
	background-color: rgba(51, 122, 183, 1);border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding:0;min-width: 100%;}
ul#categorie_menu li:hover>ul{
	visibility:visible;opacity:1;}
ul#categorie_menu li{
display:block;white-space:nowrap;font-size:0;float:left;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
ul#categorie_menu li:hover{
	z-index:1;}
ul#categorie_menu ul ul{
	position:absolute;left:100%;top:0;-moz-box-shadow:#585858 0px 0px 1px;-webkit-box-shadow:#585858 0px 0px 1px;box-shadow:#585858 0px 0px 1px;}
ul#categorie_menu{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
	*display:inline;}
* html ul#categorie_menu li a{
	display:inline-block;}
ul#categorie_menu>li{
	margin:0;}
ul#categorie_menu a:active, ul#categorie_menu a:focus{
	outline-style:none;}
ul#categorie_menu a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-size: 13px;font-family: 'source_sans_proregular';color:#AAAAAA;cursor:pointer;
    padding:6px 10px 12px 2px;background-color:;background-repeat:repeat;border-width:0px;border-style:none;border-color:;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
ul#categorie_menu ul li{
	float:none;margin:0;
	float: left;
width: 50%;
	}
ul#categorie_menu ul a{
	text-align:left;padding:8px 25px 10px 10px;background-color:transparent;border-width:0 0 1px 0;border-style:solid;
	border-color: #628EB5;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;font:14px 'source_sans_prolight';color:#fff;text-decoration:none;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
ul#categorie_menu li:hover>a,ul#categorie_menu li a.pressed{
	border-style:none;color:#FFFFFF;text-decoration:none;}
ul#categorie_menu img{
	border:none;vertical-align:middle;margin-right:23px;}
ul#categorie_menu ul span{
	background-image:none;padding-right:8px;}
ul#categorie_menu ul li:hover>a,ul#categorie_menu ul li a.pressed{
	background: rgba(255, 255, 255, 1);border-style:solid;
	border-color: #628EB5;color:#337AB7;text-decoration:none;}
ul#categorie_menu li.topmenu>a{
	background-color:transparent;border-width:3px 0 0 0;border-style:solid;border-color:transparent transparent transparent transparent;min-height: 65px;
text-align: center; color: #337AB7;}
ul#categorie_menu li.topmenu:hover>a,ul#categorie_menu li.topmenu a.pressed{
	background-color:transparent;border-style:solid;border-color: #337AB7 transparent transparent transparent;}
ul#categorie_menu li.sublast>a{
	border-width:0px;}
	
ul#categorie_menu ul a{
line-height: 30px;
}
	
#categorie_menu li a i.icon{
font-size: 25px;
line-height: 30px;

}	
#categorie_menu li a i.icon.icon-computer{


line-height: 42px;

}
#categorie_menu li li i.icon{
font-size: 26px;
line-height: 20px;
margin: 0px 4px 0 0;
float: left;
vertical-align:middle;
}
#categorie_menu li li i.icon.icon-mother16{
font-size:30px;
}

  
  
ul#categorie_menu li.topmenu.homestore ul{

}



ul#categorie_menu li.topmenu.jobs ul{}
  
ul#categorie_menu li.topmenu.matrimony ul{}
  
ul#categorie_menu li.topmenu.realstate ul{}
  
ul#categorie_menu li.topmenu.services ul{}
  
ul#categorie_menu li.topmenu.travels ul{}