    <!-- Content section Start --> 
    <section id="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4">
              <div class="page-login-form box">
                <h3>
                  Login
                </h3>
                <form role="form" class="login-form" (ngSubmit)="processForm()" [formGroup]="loginform">
                  <div class="form-group">
                    <div class="input-icon">
                      <i class="icon fa fa-user"></i>
                      <input type="text" id="sender-email" class="form-control" name="email" placeholder="Username" required formControlName="username">
                      <span class="haserror" *ngIf="formErrors.username">
                        {{ formErrors.username }}
                    </span>
                    </div>
                  </div> 
                  <div class="form-group">
                    <div class="input-icon">
                      <i class="icon fa fa-unlock-alt"></i>
                      <input type="password" class="form-control" placeholder="Password" required formControlName="password">
                      <span class="haserror" *ngIf="formErrors.password">
                        {{ formErrors.password }}
                    </span>
                    </div>
                  </div>                  
                  <div class="checkbox">
                    <input type="checkbox" id="remember" name="rememberme" value="forever" style="float: left;">
                    <label for="remember">Remember me</label>
                  </div>
                  <button class="btn btn-common log-btn" type="submit">Submit</button>
                </form>
                <ul class="form-links">
                  <li class="pull-left"><a href="signup.html">Don't have an account?</a></li>
                  <li class="pull-right"><a href="forgot-password.html">Lost your password?</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Content section End --> 