
<div class="container">
<div class="row">
    <div class="col-md-12">
    <div class="col-md-11">
     <div class="category-menu">
        <ul>
        <li>
          <a >
            <div class="category-menu-item">
              <div class="lnr lnr-cog"></div>  
              <span>Automoiles </span>
            </div>
            </a>          
        </li>
        <li>
          <a>
              <div class="category-menu-item">
                <div class="lnr lnr-camera"></div>  
                <span>Electronics </span>
              </div>
            </a>
        </li>
        </ul>    
     </div>    
    </div>
    <div class="col-md-1 pull-right">
        <div class="category-menu">
            <ul>
                <li class="item-close">
                    <a>
                        <div class="category-menu-item">
                          <div class="lnr lnr-chevron-down"></div>  
                          <span>More </span>
                        </div>
                      </a>
                  </li>
            </ul>
          </div>
    </div>
    </div>    
</div>
</div>