/* Elastislide Style */
.es-carousel-wrapper{
	padding: 0px 25px;
position: relative;
	
	
}
.es-carousel{
	overflow:hidden;
	
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
position: absolute;
top: 20%;
left: 8px;
background: #D2EBC8 url(../images/gallery/nav_thumbs.png) no-repeat 0px 20px;
width: 14px;
height: 100%;
margin-top: -13px;
text-indent: -9000px;
cursor: pointer;
opacity: 0.6;
	
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:-15px 20px;
}
.es-nav span:hover{
	opacity:1.0;
	
}
