body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-group.error label, .notification-message, .safety-na.error > .btn {
    color: #cf2f44;
}

    .form-group.error label.error, .notification-message {
        position: relative;
        top: auto;
        left: 0;
       /*bottom: -23px;*/
        font-size: 14px;
        font-weight: 400;
        display: block;
        width: auto;
        line-height: normal;
        padding: 0;
    }

    .form-group.error label.error {
        position: absolute;
        white-space: nowrap;
    }

.form-horizontal .form-group.error label.error, .form-horizontal-error .form-group.error label.error {
    left: 15px;
}

.form-group.error {
    position: relative;
}

    .form-group.error .form-control {
        border-color: #cf2f44;
    }

    .form-group.error .glyphicon {
        display: block;
    }

    .form-group.error .pound-sign-input span {
        color: #cf2f44;
    }

