<!-- Footer Section Start -->
<footer>
    	<section class="footer-Content">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0">
              <div class="widget">
                <h3 class="block-title">About us</h3>
                <div class="textwidget">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis. Etiam euismod ornare elementum. Sed ex est, consectetur eget facilisis sed, auctor ut purus.</p>
                </div>
              </div>
            </div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.5">
    					<div class="widget">
    						<h3 class="block-title">Useful Links</h3>
  							<ul class="menu">
                  <li><a routerLink="/">Home</a></li>
                  <li><a href="index.html#">Categories</a></li>
                  <li><a href="index.html#">FAQ</a></li>
                  <li><a routerLink="/customer/profile">Profile</a></li>
                  <li><a href="index.html#">Pricing Plans</a></li>
                  <li><a routerLink="/aboutus">About</a></li>
                  <li><a routerLink="/contactus">Contact</a></li>
                  <li><a routerLink="/customer">Customer</a></li>
                  <li><a href="index.html#">Terms of Use</a></li>
                  <li><a href="index.html#">Privacy Policy</a></li>
                </ul>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="1s">
    					<div class="widget">
                <h3 class="block-title">Latest Tweets</h3>
                <div class="twitter-content clearfix">
                  <ul class="twitter-list">
                    <li class="clearfix">
                      <span>
                        Platform to Download and Submit #Bootstrap Templates via @ProductHunt @GrayGrids
                        <a href="index.html#">http://t.co/cLo2w7rWOx</a>
                      </span>
                    </li>
                    <li class="clearfix">
                      <span>
                        Introducing Bootstrap 4 Features: What’s new, What’s gone!
                        <a href="index.html#">http://t.co/cLo2w7rWOx</a>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="1.5s">
    					<div class="widget">
    						<h3 class="block-title">Random Ads</h3>
                <ul class="featured-list">
                  <li>
                    <img alt="" src="assets/img/featured/img1.jpg">
                    <div class="hover">
                      <a href="index.html#"><span>$49</span></a>
                    </div>
                  </li>
                  <li>
                    <img alt="" src="assets/img/featured/img2.jpg">
                    <div class="hover">
                      <a href="index.html#"><span>$49</span></a>
                    </div>
                  </li>
                  <li>
                    <img alt="" src="assets/img/featured/img3.jpg">
                    <div class="hover">
                      <a href="index.html#"><span>$49</span></a>
                    </div>
                  </li>
                  <li>
                    <img alt="" src="assets/img/featured/img4.jpg">
                    <div class="hover">
                      <a href="index.html#"><span>$49</span></a>
                    </div>
                  </li>
                  <li>
                    <img alt="" src="assets/img/featured/img5.jpg">
                    <div class="hover">
                      <a href="index.html#"><span>$49</span></a>
                    </div>
                  </li>
                  <li>
                    <img alt="" src="assets/img/featured/img6.jpg">
                    <div class="hover">
                      <a href="index.html#"><span>$49</span></a>
                    </div>
                  </li>
                </ul> 						
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>    
    	<div id="copyright">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
              <div class="site-info pull-left">
                <p>All copyrights reserved &copy; 2018 by SathupallyBusiness.com - Proudly powered by <a href="https://ssapps.in" target="_blank" title="SS APPS" rel="nofollow"> SS APPS </a></p>
              </div>    					
              <div class="bottom-social-icons social-icon pull-right">  
                <a class="facebook" rel="nofollow" target="_blank" href="https://web.facebook.com/sathupallybusiness"><i class="fa fa-facebook"></i></a> 
                <a class="twitter" target="_blank" rel="nofollow" href="https://twitter.com/sathupallybusiness"><i class="fa fa-twitter"></i></a>
                <a class="dribble" target="_blank" rel="nofollow" href="https://dribbble.com/sathupallybusiness"><i class="fa fa-dribbble"></i></a>
                <a class="flickr" target="_blank" rel="nofollow" href="https://www.flickr.com/sathupallybusiness"><i class="fa fa-flickr"></i></a>
                <a class="youtube" target="_blank" rel="nofollow" href="https://youtube.com/sathupallybusiness"><i class="fa fa-youtube"></i></a>
                <a class="google-plus" rel="nofollow" target="_blank" href="https://plus.google.com/sathupallybusiness"><i class="fa fa-google-plus"></i></a>
                <a class="linkedin" target="_blank" rel="nofollow" href="https://www.linkedin.com/sathupallybusiness"><i class="fa fa-linkedin"></i></a>
              </div>
    				</div>
    			</div>
    		</div>
    	</div>
</footer>
    <a class="back-to-top">
      <i class="fa fa-angle-up"></i>
    </a>


    <!-- Modals -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-common" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Login</button>
            </div>
          </div>
        </div>
      </div>