 <!-- Categories Homepage Section Start -->
 <section id="categories-homepage">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <h3 class="section-title">Browse by Categories</h3>
      </div>          
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="category-box border-1 wow fadeInUpQuick" data-wow-delay="0.3s">
          <div class="icon">
            <a href="category.html"><i class="lnr lnr-users color-1"></i></a>
          </div>
          <div class="category-header">  
            <a href="category.html"><h4>Community</h4></a>
          </div>
          <div class="category-content">
            <ul>
              <li>
                <a href="category.html">Announcements</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Car Pool - Bike Ride</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Charity - Donate - NGO</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Lost - Found</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Tender Notices</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">General Entertainment</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">View all subcategories →</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
       <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="category-box border-2 wow fadeInUpQuick" data-wow-delay="0.6s">
          <div class="icon">
            <a href="category.html"><i class="lnr lnr-laptop-phone color-2"></i></a>
          </div>
          <div class="category-header">  
            <a href="category.html"><h4>Electronics</h4></a>
          </div>
          <div class="category-content">
            <ul>
              <li>
                <a href="category.html">Home Electronics</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">LCDs</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Charity - Donate - NGO</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Mobile & Tablets</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">TV & DVDs</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Technical Services</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Others</a>
                <span class="category-counter">1</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="category-box border-3 wow fadeInUpQuick" data-wow-delay="0.9s">
          <div class="icon">
            <a href="category.html"><i class="lnr lnr-cog color-3"></i></a>
          </div>
          <div class="category-header">  
            <a href="category.html"><h4>Services</h4></a>
          </div>
          <div class="category-content">
            <ul>
              <li>
                <a href="category.html">Cleaning Services</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Educational</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Food Services</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Medical</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Office & Home Removals</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">General Entertainment</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">View all subcategories →</a>
              </li>
            </ul>
          </div>
        </div>
      </div>            
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="category-box border-4 wow fadeInUpQuick" data-wow-delay="1.2s">
          <div class="icon">
            <a href="category.html"><i class="lnr lnr-cart color-4"></i></a>
          </div>
          <div class="category-header">  
            <a href="category.html"><h4>Shopping</h4></a>
          </div>
          <div class="category-content">
            <ul>
              <li>
                <a href="category.html">Bags</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Beauty Products</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Jewelry</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Shoes M/F</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Tender Notices</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Others</a>
                <span class="category-counter">3</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="category-box border-5 wow fadeInUpQuick" data-wow-delay="1.5s">
          <div class="icon">
            <a href="category.html"><i class="lnr lnr-briefcase color-5"></i></a>
          </div>
          <div class="category-header">  
            <a href="category.html"><h4>Jobs</h4></a>
          </div>
          <div class="category-content">
            <ul>
              <li>
                <a href="category.html">Accounts Jobs</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Cleaning & Washing</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Web design</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Design & Code</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Finance Jobs</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Data Entry</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">View all subcategories →</a>
              </li>
            </ul>
          </div>
        </div>
      </div>            
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="category-box border-6 wow fadeInUpQuick" data-wow-delay="1.8s">
          <div class="icon">
            <a href="category.html"><i class="lnr lnr-graduation-hat color-6"></i></a>
          </div>
          <div class="category-header">  
            <a href="category.html"><h4>Training</h4></a>
          </div>
          <div class="category-content">
            <ul>
              <li>
                <a href="category.html">Android Development</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">20 Days HTML/CSS</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">iOS Development with Swift</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">SEO for rest of us</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Mastering in Java</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Others</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">View all subcategories →</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="category-box border-7 wow fadeInUpQuick" data-wow-delay="2.1s">
          <div class="icon">
            <a href="category.html"><i class="lnr lnr-apartment color-7"></i></a>
          </div>
          <div class="category-header">  
            <a href="category.html"><h4>Real Estate</h4></a>
          </div>
          <div class="category-content">
            <ul>
              <li>
                <a href="category.html">Farms</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Home for rent</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Hotels</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Land for sale</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Offices for rent</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Others</a>
                <span class="category-counter">3</span>
              </li>
            </ul>
          </div>
        </div>
      </div>            
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="category-box border-8 wow fadeInUpQuick" data-wow-delay="2.3s">
          <div class="icon">
            <a href="category.html"><i class="lnr lnr-car color-8"></i></a>
          </div>
          <div class="category-header">  
            <a href="category.html"><h4>Vehicles</h4></a>
          </div>
          <div class="category-content">
            <ul>
              <li>
                <a href="category.html">Cars</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Fancy Cars</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Kids Bikes</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Motor Bikes</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Classic & Modern</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">Kinds</a>
                <span class="category-counter">3</span>
              </li>
              <li>
                <a href="category.html">View all subcategories →</a>
              </li>
            </ul>
          </div>
        </div>
      </div>     
    </div>
  </div>
</section>
<!-- Categories Homepage Section End -->