 <!-- Featured Listings Start -->
 <section class="featured-lis" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeIn" data-wow-delay="0.5s">
        <h3 class="section-title">Featured Listings</h3>
        <div id="new-products" class="owl-carousel">
          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <img src="assets/img/product/img1.jpg" alt=""> 
                <div class="overlay">
                  <a href="ads-details.html"><i class="fa fa-link"></i></a>
                </div> 
              </div>    
              <a href="ads-details.html" class="item-name">Lorem ipsum dolor sit</a>  
              <span class="price">$150</span>  
            </div>
          </div>
          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <img src="assets/img/product/img2.jpg" alt=""> 
                <div class="overlay">
                  <a href="ads-details.html"><i class="fa fa-link"></i></a>
                </div> 
              </div> 
              <a href="ads-details.html" class="item-name">Sed diam nonummy</a>  
              <span class="price">$67</span> 
            </div>
          </div>
          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <img src="assets/img/product/img3.jpg" alt=""> 
                <div class="overlay">
                  <a href="ads-details.html"><i class="fa fa-link"></i></a>
                </div> 
              </div>
              <a href="ads-details.html" class="item-name">Feugiat nulla facilisis</a>  
              <span class="price">$300</span>  
            </div>
          </div>
          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <img src="assets/img/product/img4.jpg" alt=""> 
                <div class="overlay">
                  <a href="ads-details.html"><i class="fa fa-link"></i></a>
                </div> 
              </div> 
              <a href="ads-details.html" class="item-name">Lorem ipsum dolor sit</a>  
              <span class="price">$149</span> 
            </div>
          </div>
          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <img src="assets/img/product/img5.jpg" alt=""> 
                <div class="overlay">
                  <a href="ads-details.html"><i class="fa fa-link"></i></a>
                </div> 
              </div>
              <a href="ads-details.html" class="item-name">Sed diam nonummy</a>  
              <span class="price">$90</span> 
            </div>
          </div>
          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <img src="assets/img/product/img6.jpg" alt=""> 
                <div class="overlay">
                  <a href="ads-details.html"><i class="fa fa-link"></i></a>
                </div> 
              </div>                     
              <a href="ads-details.html" class="item-name">Praesent luptatum zzril</a>  
              <span class="price">$169</span> 
            </div>
          </div>
          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <img src="assets/img/product/img7.jpg" alt=""> 
                <div class="overlay">
                  <a href="ads-details.html"><i class="fa fa-link"></i></a>
                </div> 
              </div>  
              <a href="ads-details.html" class="item-name">Lorem ipsum dolor sit</a>  
              <span class="price">$79</span> 
            </div>
          </div>
          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <img src="assets/img/product/img8.jpg" alt=""> 
                <div class="overlay">
                  <a href="ads-details.html"><i class="fa fa-link"></i></a>
                </div> 
              </div>
              <a href="ads-details.html" class="item-name">Sed diam nonummy</a>  
              <span class="price">$149</span>   
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
<!-- Featured Listings End -->
